.grid-container{
    display: grid;
    grid-template-areas:
    'header header header header header header header header header header header header'
    'menu   main    main  main   main   main    main  main  main   main  main  main';

  
}

.grid-toolbar{
    grid-area: header;
    background-color:#20A39E;
    color: aliceblue;
}

.grid-navbar{
    grid-area: menu;
    background-color: #A4A9AD;
    
}

.grid-content{
    grid-area: main;
    background-color: #424242;
   
}